<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiyue.app.mapper.AdmoduleMapper" >
  <resultMap id="BaseResultMap" type="com.maiyue.app.bean.Admodule" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="MODULE_NAME" property="moduleName" jdbcType="VARCHAR" />
    <result column="MODULE_POSITION" property="modulePosition" jdbcType="VARCHAR" />
    <result column="MODULE_ADDRESS" property="moduleAddress" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, MODULE_NAME, MODULE_POSITION, MODULE_ADDRESS, CREATE_TIME, STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from APP_MODULE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from APP_MODULE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
 
  <insert id="insertSelective" parameterType="com.maiyue.app.bean.Admodule" >
    insert into APP_MODULE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="moduleName != null" >
        MODULE_NAME,
      </if>
      <if test="modulePosition != null" >
        MODULE_POSITION,
      </if>
      <if test="moduleAddress != null" >
        MODULE_ADDRESS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null" >
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="modulePosition != null" >
        #{modulePosition,jdbcType=VARCHAR},
      </if>
      <if test="moduleAddress != null" >
        #{moduleAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.app.bean.Admodule" >
    update APP_MODULE
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null" >
        MODULE_NAME = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="modulePosition != null" >
        MODULE_POSITION = #{modulePosition,jdbcType=VARCHAR},
      </if>
      <if test="moduleAddress != null" >
        MODULE_ADDRESS = #{moduleAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List" /> from APP_MODULE
    <where>
      STATE = #{state,jdbcType=VARCHAR}
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        AND USER_ID = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="moduleName != null">
        AND MODULE_NAME = #{moduleName,jdbcType=VARCHAR}
      </if>
      <if test="modulePosition != null">
        AND MODULE_POSITION = #{modulePosition,jdbcType=VARCHAR}
      </if>
      <if test="moduleAddress != null">
        AND MODULE_ADDRESS = #{moduleAddress,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="state != null">
        AND STATE = #{state,jdbcType=VARCHAR}
      </if>
      <!-- in id查询 -->
      <if test="ids != null">
        AND ID IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
	         #{item,jdbcType=VARCHAR}
	    </foreach>
      </if>
    </where>
    <if test="order != null">
    	 ORDER BY ${order} ${sort}
    </if>
  </select>
  
</mapper>