<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiyue.app.mapper.AppInfoMapper" >
  <resultMap id="BaseResultMap" type="com.maiyue.app.bean.AppInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="APP_CATEGORY_ID" property="appCategoryId" jdbcType="VARCHAR" />
    <result column="APP_TYPE" property="appType" jdbcType="VARCHAR" />
    <result column="APP_NAME" property="appName" jdbcType="VARCHAR" />
    <result column="CURRENT_VERSION" property="currentVersion" jdbcType="VARCHAR" />
    <result column="APP_DETAILS" property="appDetails" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="AUDIT_RESULT" property="auditResult" jdbcType="VARCHAR" />
    <result column="BROWSE_NUM" property="browseNum" jdbcType="DECIMAL" />
    <result column="DOWNLOADS_NUM" property="downloadsNum" jdbcType="DECIMAL" />
    <result column="INSTPACK_NUM" property="instpackNum" jdbcType="DECIMAL" />
    <result column="APP_STATE" property="appState" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, APP_CATEGORY_ID, APP_TYPE, APP_NAME, CURRENT_VERSION, APP_DETAILS, CREATE_TIME, 
    AUDIT_RESULT, BROWSE_NUM, DOWNLOADS_NUM, INSTPACK_NUM, APP_STATE
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from APP_INFO where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from APP_INFO
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="com.maiyue.app.bean.AppInfo" >
    insert into APP_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="appCategoryId != null" >
        APP_CATEGORY_ID,
      </if>
      <if test="appType != null" >
        APP_TYPE,
      </if>
      <if test="appName != null" >
        APP_NAME,
      </if>
      <if test="currentVersion != null" >
        CURRENT_VERSION,
      </if>
      <if test="appDetails != null" >
        APP_DETAILS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="auditResult != null" >
        AUDIT_RESULT,
      </if>
      <if test="browseNum != null" >
        BROWSE_NUM,
      </if>
      <if test="downloadsNum != null" >
        DOWNLOADS_NUM,
      </if>
      <if test="instpackNum != null" >
        INSTPACK_NUM,
      </if>
      <if test="appState != null" >
        APP_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appCategoryId != null" >
        #{appCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="currentVersion != null" >
        #{currentVersion,jdbcType=VARCHAR},
      </if>
      <if test="appDetails != null" >
        #{appDetails,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditResult != null" >
        #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="browseNum != null" >
        #{browseNum,jdbcType=DECIMAL},
      </if>
      <if test="downloadsNum != null" >
        #{downloadsNum,jdbcType=DECIMAL},
      </if>
      <if test="instpackNum != null" >
        #{instpackNum,jdbcType=DECIMAL},
      </if>
      <if test="appState != null" >
        #{appState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.app.bean.AppInfo" >
    update APP_INFO
    <set >
      <if test="appCategoryId != null" >
        APP_CATEGORY_ID = #{appCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        APP_TYPE = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="appName != null" >
        APP_NAME = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="currentVersion != null" >
        CURRENT_VERSION = #{currentVersion,jdbcType=VARCHAR},
      </if>
      <if test="appDetails != null" >
        APP_DETAILS = #{appDetails,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditResult != null" >
        AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="browseNum != null" >
        BROWSE_NUM = #{browseNum,jdbcType=DECIMAL},
      </if>
      <if test="downloadsNum != null" >
        DOWNLOADS_NUM = #{downloadsNum,jdbcType=DECIMAL},
      </if>
      <if test="instpackNum != null" >
        INSTPACK_NUM = #{instpackNum,jdbcType=DECIMAL},
      </if>
      <if test="appState != null" >
        APP_STATE = #{appState,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List" /> from APP_INFO
    <where>
       APP_STATE = #{appState,jdbcType=VARCHAR}
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="appCategoryId != null">
        AND APP_CATEGORY_ID = #{appCategoryId,jdbcType=VARCHAR}
      </if>
      <if test="appType != null">
        AND APP_TYPE = #{appType,jdbcType=VARCHAR}
      </if>
      <if test="appName != null">
        AND APP_NAME = #{appName,jdbcType=VARCHAR}
      </if>
      <if test="currentVersion != null">
        AND CURRENT_VERSION = #{currentVersion,jdbcType=VARCHAR}
      </if>
      <if test="appDetails != null">
        AND APP_DETAILS = #{appDetails,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="auditResult != null">
        AND AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR}
      </if>
      <if test="browseNum != null">
        AND BROWSE_NUM = #{browseNum,jdbcType=DECIMAL}
      </if>
      <if test="downloadsNum != null">
        AND DOWNLOADS_NUM = #{downloadsNum,jdbcType=DECIMAL}
      </if>
      <if test="instpackNum != null">
        AND INSTPACK_NUM = #{instpackNum,jdbcType=DECIMAL}
      </if>
      <if test="appState != null">
        AND APP_STATE = #{appState,jdbcType=VARCHAR}
      </if>
      <!-- in id查询 -->
      <if test="ids != null">
        AND ID IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
	         #{item,jdbcType=VARCHAR}
	    </foreach>
      </if>
    </where>
    <if test="order != null">
    	 ORDER BY ${order} ${sort}
    </if>
  </select>
  
</mapper>