<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiyue.app.mapper.InstPackageMapper" >
  <resultMap id="BaseResultMap" type="com.maiyue.app.bean.InstPackage" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="APP_INFO_ID" property="appInfoId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="INSTALL_ALIAS" property="installAlias" jdbcType="VARCHAR" />
    <result column="INSTALL_UUID_NAME" property="installUuidName" jdbcType="VARCHAR" />
    <result column="INSTALL_VERSION" property="installVersion" jdbcType="VARCHAR" />
    <result column="INSTALL_ADDRESS" property="installAddress" jdbcType="VARCHAR" />
    <result column="INSTALL_WHERE_DISK" property="installWhereDisk" jdbcType="VARCHAR" />
    <result column="INSTALL_SIZE" property="installSize" jdbcType="VARCHAR" />
    <result column="DETAILS" property="details" jdbcType="VARCHAR" />
    <result column="UPLOAD_TIME" property="uploadTime" jdbcType="TIMESTAMP" />
    <result column="AUDIT_RESULT" property="auditResult" jdbcType="VARCHAR" />
    <result column="DOWNLOADS_NUM" property="downloadsNum" jdbcType="DECIMAL" />
    <result column="INSTALL_STATE" property="installState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APP_INFO_ID, USER_ID, USER_NAME, INSTALL_ALIAS, INSTALL_UUID_NAME, INSTALL_VERSION, 
    INSTALL_ADDRESS, INSTALL_WHERE_DISK, INSTALL_SIZE, DETAILS, UPLOAD_TIME, AUDIT_RESULT, 
    DOWNLOADS_NUM, INSTALL_STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from APP_INSTALL_PACKAGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from APP_INSTALL_PACKAGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="com.maiyue.app.bean.InstPackage" >
    insert into APP_INSTALL_PACKAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="appInfoId != null" >
        APP_INFO_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="installAlias != null" >
        INSTALL_ALIAS,
      </if>
      <if test="installUuidName != null" >
        INSTALL_UUID_NAME,
      </if>
      <if test="installVersion != null" >
        INSTALL_VERSION,
      </if>
      <if test="installAddress != null" >
        INSTALL_ADDRESS,
      </if>
      <if test="installWhereDisk != null" >
        INSTALL_WHERE_DISK,
      </if>
      <if test="installSize != null" >
        INSTALL_SIZE,
      </if>
      <if test="details != null" >
        DETAILS,
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME,
      </if>
      <if test="auditResult != null" >
        AUDIT_RESULT,
      </if>
      <if test="downloadsNum != null" >
        DOWNLOADS_NUM,
      </if>
      <if test="installState != null" >
        INSTALL_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appInfoId != null" >
        #{appInfoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="installAlias != null" >
        #{installAlias,jdbcType=VARCHAR},
      </if>
      <if test="installUuidName != null" >
        #{installUuidName,jdbcType=VARCHAR},
      </if>
      <if test="installVersion != null" >
        #{installVersion,jdbcType=VARCHAR},
      </if>
      <if test="installAddress != null" >
        #{installAddress,jdbcType=VARCHAR},
      </if>
      <if test="installWhereDisk != null" >
        #{installWhereDisk,jdbcType=VARCHAR},
      </if>
      <if test="installSize != null" >
        #{installSize,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditResult != null" >
        #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="downloadsNum != null" >
        #{downloadsNum,jdbcType=DECIMAL},
      </if>
      <if test="installState != null" >
        #{installState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.app.bean.InstPackage" >
    update APP_INSTALL_PACKAGE
    <set >
      <if test="appInfoId != null" >
        APP_INFO_ID = #{appInfoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="installAlias != null" >
        INSTALL_ALIAS = #{installAlias,jdbcType=VARCHAR},
      </if>
      <if test="installUuidName != null" >
        INSTALL_UUID_NAME = #{installUuidName,jdbcType=VARCHAR},
      </if>
      <if test="installVersion != null" >
        INSTALL_VERSION = #{installVersion,jdbcType=VARCHAR},
      </if>
      <if test="installAddress != null" >
        INSTALL_ADDRESS = #{installAddress,jdbcType=VARCHAR},
      </if>
      <if test="installWhereDisk != null" >
        INSTALL_WHERE_DISK = #{installWhereDisk,jdbcType=VARCHAR},
      </if>
      <if test="installSize != null" >
        INSTALL_SIZE = #{installSize,jdbcType=VARCHAR},
      </if>
      <if test="details != null" >
        DETAILS = #{details,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditResult != null" >
        AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="downloadsNum != null" >
        DOWNLOADS_NUM = #{downloadsNum,jdbcType=DECIMAL},
      </if>
      <if test="installState != null" >
        INSTALL_STATE = #{installState,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <!-- 按 App信息Id查询 -->
  <select id="findByAppId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select  <include refid="Base_Column_List" /> from APP_INSTALL_PACKAGE
    where APP_INFO_ID = #{appInfoId,jdbcType=VARCHAR}
  </select>
  
  <!-- 按用户信息Id查询 -->
  <select id="findByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
  	select  <include refid="Base_Column_List" /> from APP_INSTALL_PACKAGE
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  
  
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List" /> from APP_INSTALL_PACKAGE
    <where>
       INSTALL_STATE = #{installState,jdbcType=VARCHAR}
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="appInfoId != null">
        AND APP_INFO_ID = #{appInfoId,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        AND USER_ID = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="userName != null">
        AND USER_NAME = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="installAlias != null">
        AND INSTALL_ALIAS = #{installAlias,jdbcType=VARCHAR}
      </if>
      <if test="installUuidName != null">
        AND INSTALL_UUID_NAME = #{installUuidName,jdbcType=VARCHAR}
      </if>
      <if test="installVersion != null">
        AND INSTALL_VERSION = #{installVersion,jdbcType=VARCHAR}
      </if>
      <if test="installAddress != null">
        AND INSTALL_ADDRESS = #{installAddress,jdbcType=VARCHAR}
      </if>
      <if test="installWhereDisk != null">
        AND INSTALL_WHERE_DISK = #{installWhereDisk,jdbcType=VARCHAR}
      </if>
      <if test="installSize != null">
        AND INSTALL_SIZE = #{installSize,jdbcType=VARCHAR}
      </if>
      <if test="details != null">
        AND DETAILS = #{details,jdbcType=VARCHAR}
      </if>
      <if test="uploadTime != null">
        AND UPLOAD_TIME = #{uploadTime,jdbcType=TIMESTAMP}
      </if>
      <if test="auditResult != null">
        AND AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR}
      </if>
      <if test="downloadsNum != null">
        AND DOWNLOADS_NUM = #{downloadsNum,jdbcType=DECIMAL}
      </if>
      <if test="installState != null">
        AND INSTALL_STATE = #{installState,jdbcType=VARCHAR}
      </if>
      <!-- in id查询 -->
      <if test="ids != null">
        AND ID IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
	         #{item,jdbcType=VARCHAR}
	    </foreach>
      </if>
    </where>
    <if test="order != null">
      ORDER BY ${order} ${sort}
    </if>
  </select>
  
</mapper>