<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiyue.weixin.base.mapper.ProvincesMapper" >
  <resultMap id="BaseResultMap" type="com.maiyue.weixin.base.bean.Provinces" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PROVINCEID" property="provinceid" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PROVINCEID, PROVINCE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BASE_PROVINCES
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BASE_PROVINCES
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maiyue.weixin.base.bean.Provinces" >
    insert into T_BASE_PROVINCES (ID, PROVINCEID, PROVINCE
      )
    values (#{id,jdbcType=VARCHAR}, #{provinceid,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maiyue.weixin.base.bean.Provinces" >
    insert into T_BASE_PROVINCES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="provinceid != null" >
        PROVINCEID,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="provinceid != null" >
        #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.weixin.base.bean.Provinces" >
    update T_BASE_PROVINCES
    <set >
      <if test="provinceid != null" >
        PROVINCEID = #{provinceid,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiyue.weixin.base.bean.Provinces" >
    update T_BASE_PROVINCES
    set PROVINCEID = #{provinceid,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List"/> from T_BASE_PROVINCES
    <where>
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="provinceid != null">
        AND PROVINCEID = #{provinceid,jdbcType=VARCHAR}
      </if>
      <if test="province != null">
        AND PROVINCE = #{province,jdbcType=VARCHAR}
      </if>
      <if test="ids != null">
       AND ID IN 
         <foreach collection="ids" index="index" item="item" open="(" separator="," close=")"> 
        #{item,jdbcType=VARCHAR}
         </foreach>
      </if>
    </where>
      <if test="order != null">
      ORDER BY ${order} ${sorting}
      </if>
  </select>
</mapper>