<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiyue.weixin.business.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.maiyue.weixin.business.bean.Student" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SNO" property="sno" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR" />
    <result column="NATION_CODE" property="nationCode" jdbcType="VARCHAR" />
    <result column="IDEN_ID" property="idenId" jdbcType="VARCHAR" />
    <result column="NATIVE_PLACE_ID" property="nativePlaceId" jdbcType="VARCHAR" />
    <result column="AREA_ID" property="areaId" jdbcType="VARCHAR" />
    <result column="POLITICAL_ID" property="politicalId" jdbcType="VARCHAR" />
    <result column="COLLEGE_ID" property="collegeId" jdbcType="VARCHAR" />
    <result column="MAJOR_ID" property="majorId" jdbcType="VARCHAR" />
    <result column="ENTRANCE_GRADE" property="entranceGrade" jdbcType="VARCHAR" />
    <result column="CLASSNAME" property="classname" jdbcType="VARCHAR" />
    <result column="ADRESS" property="adress" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="INSTRUCTOR_ID" property="instructorId" jdbcType="VARCHAR" />
    <result column="ONE_CARD" property="oneCard" jdbcType="VARCHAR" />
    <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
    <result column="IMAGE" property="image" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SNO, NAME, SEX, BIRTHDAY, NATION_CODE, IDEN_ID, NATIVE_PLACE_ID, AREA_ID, POLITICAL_ID, 
    COLLEGE_ID, MAJOR_ID, ENTRANCE_GRADE, CLASSNAME, ADRESS, PHONE, EMAIL, INSTRUCTOR_ID, 
    ONE_CARD, BANK_ACCOUNT, IMAGE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BIS_STUDENT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BIS_STUDENT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maiyue.weixin.business.bean.Student" >
    insert into T_BIS_STUDENT (ID, SNO, NAME, 
      SEX, BIRTHDAY, NATION_CODE, 
      IDEN_ID, NATIVE_PLACE_ID, AREA_ID, 
      POLITICAL_ID, COLLEGE_ID, MAJOR_ID, 
      ENTRANCE_GRADE, CLASSNAME, ADRESS, 
      PHONE, EMAIL, INSTRUCTOR_ID, 
      ONE_CARD, BANK_ACCOUNT, IMAGE
      )
    values (#{id,jdbcType=VARCHAR}, #{sno,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{nationCode,jdbcType=VARCHAR}, 
      #{idenId,jdbcType=VARCHAR}, #{nativePlaceId,jdbcType=VARCHAR}, #{areaId,jdbcType=VARCHAR}, 
      #{politicalId,jdbcType=VARCHAR}, #{collegeId,jdbcType=VARCHAR}, #{majorId,jdbcType=VARCHAR}, 
      #{entranceGrade,jdbcType=VARCHAR}, #{classname,jdbcType=VARCHAR}, #{adress,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{instructorId,jdbcType=VARCHAR}, 
      #{oneCard,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maiyue.weixin.business.bean.Student" >
    insert into T_BIS_STUDENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="sno != null" >
        SNO,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
      <if test="nationCode != null" >
        NATION_CODE,
      </if>
      <if test="idenId != null" >
        IDEN_ID,
      </if>
      <if test="nativePlaceId != null" >
        NATIVE_PLACE_ID,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="politicalId != null" >
        POLITICAL_ID,
      </if>
      <if test="collegeId != null" >
        COLLEGE_ID,
      </if>
      <if test="majorId != null" >
        MAJOR_ID,
      </if>
      <if test="entranceGrade != null" >
        ENTRANCE_GRADE,
      </if>
      <if test="classname != null" >
        CLASSNAME,
      </if>
      <if test="adress != null" >
        ADRESS,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="instructorId != null" >
        INSTRUCTOR_ID,
      </if>
      <if test="oneCard != null" >
        ONE_CARD,
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT,
      </if>
      <if test="image != null" >
        IMAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sno != null" >
        #{sno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nationCode != null" >
        #{nationCode,jdbcType=VARCHAR},
      </if>
      <if test="idenId != null" >
        #{idenId,jdbcType=VARCHAR},
      </if>
      <if test="nativePlaceId != null" >
        #{nativePlaceId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="politicalId != null" >
        #{politicalId,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null" >
        #{collegeId,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="entranceGrade != null" >
        #{entranceGrade,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        #{adress,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="instructorId != null" >
        #{instructorId,jdbcType=VARCHAR},
      </if>
      <if test="oneCard != null" >
        #{oneCard,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.weixin.business.bean.Student" >
    update T_BIS_STUDENT
    <set >
      <if test="sno != null" >
        SNO = #{sno,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="nationCode != null" >
        NATION_CODE = #{nationCode,jdbcType=VARCHAR},
      </if>
      <if test="idenId != null" >
        IDEN_ID = #{idenId,jdbcType=VARCHAR},
      </if>
      <if test="nativePlaceId != null" >
        NATIVE_PLACE_ID = #{nativePlaceId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        AREA_ID = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="politicalId != null" >
        POLITICAL_ID = #{politicalId,jdbcType=VARCHAR},
      </if>
      <if test="collegeId != null" >
        COLLEGE_ID = #{collegeId,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null" >
        MAJOR_ID = #{majorId,jdbcType=VARCHAR},
      </if>
      <if test="entranceGrade != null" >
        ENTRANCE_GRADE = #{entranceGrade,jdbcType=VARCHAR},
      </if>
      <if test="classname != null" >
        CLASSNAME = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="adress != null" >
        ADRESS = #{adress,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="instructorId != null" >
        INSTRUCTOR_ID = #{instructorId,jdbcType=VARCHAR},
      </if>
      <if test="oneCard != null" >
        ONE_CARD = #{oneCard,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null" >
        BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiyue.weixin.business.bean.Student" >
    update T_BIS_STUDENT
    set SNO = #{sno,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=VARCHAR},
      NATION_CODE = #{nationCode,jdbcType=VARCHAR},
      IDEN_ID = #{idenId,jdbcType=VARCHAR},
      NATIVE_PLACE_ID = #{nativePlaceId,jdbcType=VARCHAR},
      AREA_ID = #{areaId,jdbcType=VARCHAR},
      POLITICAL_ID = #{politicalId,jdbcType=VARCHAR},
      COLLEGE_ID = #{collegeId,jdbcType=VARCHAR},
      MAJOR_ID = #{majorId,jdbcType=VARCHAR},
      ENTRANCE_GRADE = #{entranceGrade,jdbcType=VARCHAR},
      CLASSNAME = #{classname,jdbcType=VARCHAR},
      ADRESS = #{adress,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      INSTRUCTOR_ID = #{instructorId,jdbcType=VARCHAR},
      ONE_CARD = #{oneCard,jdbcType=VARCHAR},
      BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR},
      IMAGE = #{image,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List"/> from T_BIS_STUDENT
    <where>
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="sno != null">
        AND SNO = #{sno,jdbcType=VARCHAR}
      </if>
      <if test="name != null">
        AND NAME = #{name,jdbcType=VARCHAR}
      </if>
      <if test="sex != null">
        AND SEX = #{sex,jdbcType=VARCHAR}
      </if>
      <if test="birthday != null">
        AND BIRTHDAY = #{birthday,jdbcType=VARCHAR}
      </if>
      <if test="nationCode != null">
        AND NATION_CODE = #{nationCode,jdbcType=VARCHAR}
      </if>
      <if test="idenId != null">
        AND IDEN_ID = #{idenId,jdbcType=VARCHAR}
      </if>
      <if test="nativePlaceId != null">
        AND NATIVE_PLACE_ID = #{nativePlaceId,jdbcType=VARCHAR}
      </if>
      <if test="areaId != null">
        AND AREA_ID = #{areaId,jdbcType=VARCHAR}
      </if>
      <if test="politicalId != null">
        AND POLITICAL_ID = #{politicalId,jdbcType=VARCHAR}
      </if>
      <if test="collegeId != null">
        AND COLLEGE_ID = #{collegeId,jdbcType=VARCHAR}
      </if>
      <if test="majorId != null">
        AND MAJOR_ID = #{majorId,jdbcType=VARCHAR}
      </if>
      <if test="entranceGrade != null">
        AND ENTRANCE_GRADE = #{entranceGrade,jdbcType=VARCHAR}
      </if>
      <if test="classname != null">
        AND CLASSNAME = #{classname,jdbcType=VARCHAR}
      </if>
      <if test="adress != null">
        AND ADRESS = #{adress,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
        AND PHONE = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        AND EMAIL = #{email,jdbcType=VARCHAR}
      </if>
      <if test="instructorId != null">
        AND INSTRUCTOR_ID = #{instructorId,jdbcType=VARCHAR}
      </if>
      <if test="oneCard != null">
        AND ONE_CARD = #{oneCard,jdbcType=VARCHAR}
      </if>
      <if test="bankAccount != null">
        AND BANK_ACCOUNT = #{bankAccount,jdbcType=VARCHAR}
      </if>
      <if test="image != null">
        AND IMAGE = #{image,jdbcType=VARCHAR}
      </if>
      <if test="ids != null">
       AND ID IN 
         <foreach collection="ids" index="index" item="item" open="(" separator="," close=")"> 
        #{item,jdbcType=VARCHAR}
         </foreach>
      </if>
    </where>
      <if test="order != null">
      ORDER BY ${order} ${sorting}
      </if>
  </select>
</mapper>