<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mweixiner PUBLIC "-//mybatis.org//DTD Mweixiner 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mweixiner.dtd" >
<mweixiner namespace="com.maiyue.weixin.mweixiner.SystemConfigMweixiner" >
  <resultMap id="BaseResultMap" type="com.maiyue.weixin.bean.SystemConfig" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CONFIG_NAME" property="configName" jdbcType="VARCHAR" />
    <result column="CONFIG_VALUE" property="configValue" jdbcType="VARCHAR" />
    <result column="CONFIG_TYPE" property="configType" jdbcType="VARCHAR" />
    <result column="CONFIG_STATE" property="configState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CONFIG_NAME, CONFIG_VALUE, CONFIG_TYPE, CONFIG_STATE
  </sql>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SYSTEM_CONFIG
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="findByConfigName" resultType="java.lang.String" parameterType="java.lang.String" >
    select  CONFIG_VALUE from SYSTEM_CONFIG where CONFIG_NAME = #{configName,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SYSTEM_CONFIG
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="com.maiyue.weixin.bean.SystemConfig" >
    insert into SYSTEM_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="configName != null" >
        CONFIG_NAME,
      </if>
      <if test="configValue != null" >
        CONFIG_VALUE,
      </if>
      <if test="configType != null" >
        CONFIG_TYPE,
      </if>
      <if test="configState != null" >
        CONFIG_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="configName != null" >
        #{configName,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null" >
        #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="configType != null" >
        #{configType,jdbcType=VARCHAR},
      </if>
      <if test="configState != null" >
        #{configState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.weixin.bean.SystemConfig" >
    update SYSTEM_CONFIG
    <set >
      <if test="configName != null" >
        CONFIG_NAME = #{configName,jdbcType=VARCHAR},
      </if>
      <if test="configValue != null" >
        CONFIG_VALUE = #{configValue,jdbcType=VARCHAR},
      </if>
      <if test="configType != null" >
        CONFIG_TYPE = #{configType,jdbcType=VARCHAR},
      </if>
      <if test="configState != null" >
        CONFIG_STATE = #{configState,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  
  
  
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List" /> from SYSTEM_CONFIG
    <where>
      CONFIG_STATE = #{configState,jdbcType=VARCHAR}
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="configName != null">
        AND CONFIG_NAME = #{configName,jdbcType=VARCHAR}
      </if>
      <if test="configValue != null">
        AND CONFIG_VALUE = #{configValue,jdbcType=VARCHAR}
      </if>
      <if test="configType != null">
        AND CONFIG_TYPE = #{configType,jdbcType=VARCHAR}
      </if>
      <if test="configState != null">
        AND CONFIG_STATE = #{configState,jdbcType=VARCHAR}
      </if>
      <!-- in id查询 -->
      <if test="ids != null">
        AND ID IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
	         #{item,jdbcType=VARCHAR}
	    </foreach>
      </if>
    </where>
    <if test="order != null">
      ORDER BY ${order} ${sort}
    </if>
  </select>
  
  
</mweixiner>