<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiyue.app.mapper.AppPictureMapper" >
  <resultMap id="BaseResultMap" type="com.maiyue.app.bean.AppPicture" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="APP_INFO_ID" property="appInfoId" jdbcType="VARCHAR" />
    <result column="APP_INSTALL_ID" property="appInstallId" jdbcType="VARCHAR" />
    <result column="PICTURE_ADDERSS" property="pictureAdderss" jdbcType="VARCHAR" />
    <result column="PICTURE_WHERE_DISK" property="pictureWhereDisk" jdbcType="VARCHAR" />
    <result column="PICTURE_ALIAS" property="pictureAlias" jdbcType="VARCHAR" />
    <result column="PICTURE_UUID_NAME" property="pictureUuidName" jdbcType="VARCHAR" />
    <result column="PICTURE_SIZE" property="pictureSize" jdbcType="VARCHAR" />
    <result column="AUDIT_RESULT" property="auditResult" jdbcType="VARCHAR" />
    <result column="PICTURE_STATE" property="pictureState" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, APP_INFO_ID, APP_INSTALL_ID, PICTURE_ADDERSS, PICTURE_WHERE_DISK, PICTURE_ALIAS, 
    PICTURE_UUID_NAME, PICTURE_SIZE, AUDIT_RESULT, PICTURE_STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from APP_PICTURE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from APP_PICTURE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="com.maiyue.app.bean.AppPicture" >
    insert into APP_PICTURE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="appInfoId != null" >
        APP_INFO_ID,
      </if>
      <if test="appInstallId != null" >
        APP_INSTALL_ID,
      </if>
      <if test="pictureAdderss != null" >
        PICTURE_ADDERSS,
      </if>
      <if test="pictureWhereDisk != null" >
        PICTURE_WHERE_DISK,
      </if>
      <if test="pictureAlias != null" >
        PICTURE_ALIAS,
      </if>
      <if test="pictureUuidName != null" >
        PICTURE_UUID_NAME,
      </if>
      <if test="pictureSize != null" >
        PICTURE_SIZE,
      </if>
      <if test="auditResult != null" >
        AUDIT_RESULT,
      </if>
      <if test="pictureState != null" >
        PICTURE_STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="appInfoId != null" >
        #{appInfoId,jdbcType=VARCHAR},
      </if>
      <if test="appInstallId != null" >
        #{appInstallId,jdbcType=VARCHAR},
      </if>
      <if test="pictureAdderss != null" >
        #{pictureAdderss,jdbcType=VARCHAR},
      </if>
      <if test="pictureWhereDisk != null" >
        #{pictureWhereDisk,jdbcType=VARCHAR},
      </if>
      <if test="pictureAlias != null" >
        #{pictureAlias,jdbcType=VARCHAR},
      </if>
      <if test="pictureUuidName != null" >
        #{pictureUuidName,jdbcType=VARCHAR},
      </if>
      <if test="pictureSize != null" >
        #{pictureSize,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null" >
        #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="pictureState != null" >
        #{pictureState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.app.bean.AppPicture" >
    update APP_PICTURE
    <set >
      <if test="appInfoId != null" >
        APP_INFO_ID = #{appInfoId,jdbcType=VARCHAR},
      </if>
      <if test="appInstallId != null" >
        APP_INSTALL_ID = #{appInstallId,jdbcType=VARCHAR},
      </if>
      <if test="pictureAdderss != null" >
        PICTURE_ADDERSS = #{pictureAdderss,jdbcType=VARCHAR},
      </if>
      <if test="pictureWhereDisk != null" >
        PICTURE_WHERE_DISK = #{pictureWhereDisk,jdbcType=VARCHAR},
      </if>
      <if test="pictureAlias != null" >
        PICTURE_ALIAS = #{pictureAlias,jdbcType=VARCHAR},
      </if>
      <if test="pictureUuidName != null" >
        PICTURE_UUID_NAME = #{pictureUuidName,jdbcType=VARCHAR},
      </if>
      <if test="pictureSize != null" >
        PICTURE_SIZE = #{pictureSize,jdbcType=VARCHAR},
      </if>
      <if test="auditResult != null" >
        AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR},
      </if>
      <if test="pictureState != null" >
        PICTURE_STATE = #{pictureState,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List" /> from APP_PICTURE
    <where>
      PICTURE_STATE = #{pictureState,jdbcType=VARCHAR}
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="appInfoId != null">
        AND APP_INFO_ID = #{appInfoId,jdbcType=VARCHAR}
      </if>
      <if test="appInstallId != null">
        AND APP_INSTALL_ID = #{appInstallId,jdbcType=VARCHAR}
      </if>
      <if test="pictureAdderss != null">
        AND PICTURE_ADDERSS = #{pictureAdderss,jdbcType=VARCHAR}
      </if>
      <if test="pictureWhereDisk != null">
        AND PICTURE_WHERE_DISK = #{pictureWhereDisk,jdbcType=VARCHAR}
      </if>
      <if test="pictureAlias != null">
        AND PICTURE_ALIAS = #{pictureAlias,jdbcType=VARCHAR}
      </if>
      <if test="pictureUuidName != null">
        AND PICTURE_UUID_NAME = #{pictureUuidName,jdbcType=VARCHAR}
      </if>
      <if test="pictureSize != null">
        AND PICTURE_SIZE = #{pictureSize,jdbcType=VARCHAR}
      </if>
      <if test="auditResult != null">
        AND AUDIT_RESULT = #{auditResult,jdbcType=VARCHAR}
      </if>
      <if test="pictureState != null">
        AND PICTURE_STATE = #{pictureState,jdbcType=VARCHAR}
      </if>
      <!-- in id查询 -->
      <if test="ids != null">
        AND ID IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
	         #{item,jdbcType=VARCHAR}
	    </foreach>
      </if>
    </where>
    <if test="order != null">
    	 ORDER BY ${order} ${sort}
    </if>
  </select>
  
</mapper>