<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiyue.app.mapper.HeadImageMapper" >
  <resultMap id="BaseResultMap" type="com.maiyue.app.bean.HeadImage" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="HEAD_ALIAS" property="headAlias" jdbcType="VARCHAR" />
    <result column="HEAD_ADDRESS" property="headAddress" jdbcType="VARCHAR" />
    <result column="HEAD_DISK" property="headDisk" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, HEAD_ALIAS, HEAD_ADDRESS, HEAD_DISK, CREATE_TIME, STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from APP_HEAD_IMAGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from APP_HEAD_IMAGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertSelective" parameterType="com.maiyue.app.bean.HeadImage" >
    insert into APP_HEAD_IMAGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="headAlias != null" >
        HEAD_ALIAS,
      </if>
      <if test="headAddress != null" >
        HEAD_ADDRESS,
      </if>
      <if test="headDisk != null" >
        HEAD_DISK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="headAlias != null" >
        #{headAlias,jdbcType=VARCHAR},
      </if>
      <if test="headAddress != null" >
        #{headAddress,jdbcType=VARCHAR},
      </if>
      <if test="headDisk != null" >
        #{headDisk,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.app.bean.HeadImage" >
    update APP_HEAD_IMAGE
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="headAlias != null" >
        HEAD_ALIAS = #{headAlias,jdbcType=VARCHAR},
      </if>
      <if test="headAddress != null" >
        HEAD_ADDRESS = #{headAddress,jdbcType=VARCHAR},
      </if>
      <if test="headDisk != null" >
        HEAD_DISK = #{headDisk,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
 
  
  <select id="getCurrentHead" resultMap="BaseResultMap" parameterType="java.lang.String">
  	SELECT <include refid="Base_Column_List" /> FROM 
  	(SELECT T.*,T.ROWID FROM APP_HEAD_IMAGE T WHERE USER_ID = #{userId,jdbcType=VARCHAR} AND STATE = 0 ORDER BY CREATE_TIME DESC) 
  	WHERE ROWNUM = 1;
  </select>
 
 
 
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List" /> from APP_HEAD_IMAGE
    <where>
       STATE = #{state,jdbcType=VARCHAR}
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        AND USER_ID = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="headAlias != null">
        AND HEAD_ALIAS = #{headAlias,jdbcType=VARCHAR}
      </if>
      <if test="headAddress != null">
        AND HEAD_ADDRESS = #{headAddress,jdbcType=VARCHAR}
      </if>
      <if test="headDisk != null">
        AND HEAD_DISK = #{headDisk,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="state != null">
        AND STATE = #{state,jdbcType=VARCHAR}
      </if>
      <!-- in id查询 -->
      <if test="ids != null">
        AND ID IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">  
	         #{item,jdbcType=VARCHAR}
	    </foreach>
      </if>
    </where>
    <if test="order != null">
      ORDER BY ${order} ${sort}
    </if>
  </select>
  
  
</mapper>