<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maiyue.weixin.business.mapper.QualityEvaluationMapper" >
  <resultMap id="BaseResultMap" type="com.maiyue.weixin.business.bean.QualityEvaluation" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TERM_YEAR" property="termYear" jdbcType="VARCHAR" />
    <result column="TERM_ID" property="termId" jdbcType="VARCHAR" />
    <result column="STUDENT_ID" property="studentId" jdbcType="VARCHAR" />
    <result column="CHECK_ID" property="checkId" jdbcType="VARCHAR" />
    <result column="OPER_TYPE" property="operType" jdbcType="VARCHAR" />
    <result column="OPER_SCORE" property="operScore" jdbcType="DECIMAL" />
    <result column="OPER_REASON" property="operReason" jdbcType="VARCHAR" />
    <result column="OPER_TIME" property="operTime" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TERM_YEAR, TERM_ID, STUDENT_ID, CHECK_ID, OPER_TYPE, OPER_SCORE, OPER_REASON, 
    OPER_TIME, CREATE_TIME, STATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_BIS_QUALITY_EVALUATION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_BIS_QUALITY_EVALUATION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.maiyue.weixin.business.bean.QualityEvaluation" >
    insert into T_BIS_QUALITY_EVALUATION (ID, TERM_YEAR, TERM_ID, 
      STUDENT_ID, CHECK_ID, OPER_TYPE, 
      OPER_SCORE, OPER_REASON, OPER_TIME, 
      CREATE_TIME, STATE)
    values (#{id,jdbcType=VARCHAR}, #{termYear,jdbcType=VARCHAR}, #{termId,jdbcType=VARCHAR}, 
      #{studentId,jdbcType=VARCHAR}, #{checkId,jdbcType=VARCHAR}, #{operType,jdbcType=VARCHAR}, 
      #{operScore,jdbcType=DECIMAL}, #{operReason,jdbcType=VARCHAR}, #{operTime,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maiyue.weixin.business.bean.QualityEvaluation" >
    insert into T_BIS_QUALITY_EVALUATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="termYear != null" >
        TERM_YEAR,
      </if>
      <if test="termId != null" >
        TERM_ID,
      </if>
      <if test="studentId != null" >
        STUDENT_ID,
      </if>
      <if test="checkId != null" >
        CHECK_ID,
      </if>
      <if test="operType != null" >
        OPER_TYPE,
      </if>
      <if test="operScore != null" >
        OPER_SCORE,
      </if>
      <if test="operReason != null" >
        OPER_REASON,
      </if>
      <if test="operTime != null" >
        OPER_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="termYear != null" >
        #{termYear,jdbcType=VARCHAR},
      </if>
      <if test="termId != null" >
        #{termId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="checkId != null" >
        #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="operScore != null" >
        #{operScore,jdbcType=DECIMAL},
      </if>
      <if test="operReason != null" >
        #{operReason,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        #{operTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.maiyue.weixin.business.bean.QualityEvaluation" >
    update T_BIS_QUALITY_EVALUATION
    <set >
      <if test="termYear != null" >
        TERM_YEAR = #{termYear,jdbcType=VARCHAR},
      </if>
      <if test="termId != null" >
        TERM_ID = #{termId,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        STUDENT_ID = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="checkId != null" >
        CHECK_ID = #{checkId,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        OPER_TYPE = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="operScore != null" >
        OPER_SCORE = #{operScore,jdbcType=DECIMAL},
      </if>
      <if test="operReason != null" >
        OPER_REASON = #{operReason,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        OPER_TIME = #{operTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maiyue.weixin.business.bean.QualityEvaluation" >
    update T_BIS_QUALITY_EVALUATION
    set TERM_YEAR = #{termYear,jdbcType=VARCHAR},
      TERM_ID = #{termId,jdbcType=VARCHAR},
      STUDENT_ID = #{studentId,jdbcType=VARCHAR},
      CHECK_ID = #{checkId,jdbcType=VARCHAR},
      OPER_TYPE = #{operType,jdbcType=VARCHAR},
      OPER_SCORE = #{operScore,jdbcType=DECIMAL},
      OPER_REASON = #{operReason,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      STATE = #{state,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByPage" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select <include refid="Base_Column_List"/> from T_BIS_QUALITY_EVALUATION
    <where>
      <if test="id != null">
        AND ID = #{id,jdbcType=VARCHAR}
      </if>
      <if test="termYear != null">
        AND TERM_YEAR = #{termYear,jdbcType=VARCHAR}
      </if>
      <if test="termId != null">
        AND TERM_ID = #{termId,jdbcType=VARCHAR}
      </if>
      <if test="studentId != null">
        AND STUDENT_ID = #{studentId,jdbcType=VARCHAR}
      </if>
      <if test="checkId != null">
        AND CHECK_ID = #{checkId,jdbcType=VARCHAR}
      </if>
      <if test="operType != null">
        AND OPER_TYPE = #{operType,jdbcType=VARCHAR}
      </if>
      <if test="operScore != null">
        AND OPER_SCORE = #{operScore,jdbcType=DECIMAL}
      </if>
      <if test="operReason != null">
        AND OPER_REASON = #{operReason,jdbcType=VARCHAR}
      </if>
      <if test="operTime != null">
        AND OPER_TIME = #{operTime,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="state != null">
        AND STATE = #{state,jdbcType=VARCHAR}
      </if>
      <if test="ids != null">
       AND ID IN 
         <foreach collection="ids" index="index" item="item" open="(" separator="," close=")"> 
        #{item,jdbcType=VARCHAR}
         </foreach>
      </if>
    </where>
      <if test="order != null">
      ORDER BY ${order} ${sorting}
      </if>
  </select>
</mapper>